{% extends 'base.html.twig' %}

{% block title %}TonInstru - Register{% endblock %}

{% block body %}
    <h1 class="title">Inscription</h1>

    {{ form_start(form, {'attr': {"class": "form-register"}}) }}

    <div class="form-username">
        <div class="form-username-left">
            {{ form_label(form.lastName, "Nom", {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.lastName, {'attr': {'class': 'form-input'}}) }}
        </div>
        <div class="form-username-right">
            {{ form_label(form.firstName, "Prénom", {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.firstName, {'attr': {'class': 'form-input'}}) }}
        </div>
        <div class="form-error">{{ form_errors(form.lastName) }}</div>
        <div class="form-error">{{ form_errors(form.firstName) }}</div>
    </div>

    {{ form_label(form.email, "Adresse e-mail", {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.email, {'attr': {'class': 'form-input'}}) }}
    <div class="form-error">{{ form_errors(form.email) }}</div>

    {{ form_label(form.city, "Ville", {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.city, {'attr': {'class': 'form-input'}}) }}
    <div class="form-error">{{ form_errors(form.city) }}</div>

    {{ form_label(form.postalCode, "Code Postal", {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.postalCode, {'attr': {'class': 'form-input'}}) }}
    <div class="form-error">{{ form_errors(form.postalCode) }}</div>

    {{ form_label(form.phone, "N° de Téléphone", {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.phone, {'attr': {'class': 'form-input'}}) }}
    <div class="form-error">{{ form_errors(form.phone) }}</div>

    {{ form_label(form.password.first, "Mot de passe", {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.password.first, {'attr': {'class': 'form-input'}}) }}
    <div class="form-error">{{ form_errors(form.password.first) }}</div>

    {{ form_label(form.password.second, "Conirmer le mot de passe", {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.password.second, {'attr': {'class': 'form-input'}}) }}
    <div class="form-error">{{ form_errors(form.password.second) }}</div>

    {{ form_widget(form.register, { 'label': 'Inscrire', 'attr': {'class': 'btn btn-register'} }) }}

    {{ form_end(form) }}

{% endblock %}
